<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AWSAccessKey" value="YOUR_ACCESS_KEY_A134" />
        <add key="AWSSecretKey" value="YOUR_SECRET_KEY_HERE_SECRET_KEY_HEREndgN" />
        <add key="AWSRegion" value="us-east-1" />
        <add key="FacebookProviderAppId" value="123456789012345" />
        <add key="GoogleProviderAppId" value="123456789012-your_app_id_here_your_app_id_abc.apps.googleusercontent.com" />
        <add key="GoogleProviderAppIdSecret" value="your_app_secret_here_abc" />
        <add key="AmazonProviderAppId" value="amzn1.application.your_app_id_here_your_appid_here" />
        <add key="AmazonProviderClientId" value="amzn1.application-oa2-client.your_client_id_here_client_id_ab" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>


